@import "tailwindcss";

@theme {
  --color-primary: #003461;
  --color-primary-hover: #004B87;
  --color-accent: #d3e4ff;

  --font-lexend: 'Lexend', sans-serif;
  --font-public-sans: 'Public Sans', sans-serif;
}

@layer base {
  body {
    @apply bg-[#fcf9f8] text-[#1c1b1b] antialiased selection:bg-[#d3e4ff] font-lexend;
  }
}
